<p class="text-center mt-5 p-3 lead">
    Uygulama bir hata ile karşılaştı. Teknik ekibimiz sorunu en kısa sürede çözecek.
    <br />
    <br />

    <a asp-action="Index" asp-controller="Home" class="btn btn-primary">Geri Dön</a>
</p>