<div class="display-4">
    <strong>@ViewBag.Price - TL </strong> tutarındaki satın alma işleminiz başarı ile gerçekleşti.

    <p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-success">Turn Back</a>
    </p>
</div>